/* Shop.css */

.swiper-pagination {
  position: relative;
  top: 20px; /* Adjust this value to move the bullets down */
}

.swiper-pagination-bullet {
  background-color: black !important;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #ffb300 !important;
  color: black;
}
